const mongoose = require("mongoose")

/**
 * @this {import("../../{{Model}}").{{model}}}
 * @return {*}
 */
module.exports = function() {
  // const Model = mongoose.model("Model")
  // method code
}
