/**
 * @returns {function(import("socket.io").Socket , function)}
 */
module.exports = () => {
  return async (socket, next) => {
    try {
      // middleware content
      next()
    } catch (e) {
      next(e)
    }
  }
}
