const mongoose = require("mongoose")

/**
 * @this {import("../../{{Model}}").{{Model}}}
 * @return {*}
 */
module.exports = function() {
  /** @type {import("../../{{Model}}").{{Model}}} */
  const {{Model}} = mongoose.model("{{Model}}")
  // static code
}
