const { app, request } = require("@tests/helpers")
const { expect } = require("chai")

describe("test {{fileName}}", () => {
  beforeEach(async () => {
    // beforeEach
  })

  it("test", async () => {
    // test
  })
})
