const mongoose = require("mongoose")
const loadModelStatics = require("@utils/loadModelStatics")
const loadModelMethods = require("@utils/loadModelMethods")

// eslint-disable-next-line no-unused-vars
const { schema: {{ model }}Schema, properties: {{ model }}SchemaProperties } = require("./{{ model }}/{{ model }}Schema")


loadModelMethods({{ model }}Schema, __dirname, "{{ model }}/methods")
loadModelStatics({{ model }}Schema, __dirname, "{{ model }}/statics")

/**
 * @typedef {mongoose.Document & {{ model }}SchemaProperties} {{ Model }}
 */

module.exports = mongoose.model("{{ Model }}", {{ model }}Schema)
