const { schema, types } = require("rest-schema")
const {{Schema}} = require("@models/{{Schema}}")

const {{fileName}}Schema = schema(
  {{Schema}},
  {
    // schema fields
  },
  {}
)

module.exports = {{fileName}}Schema
