const socketEvents = require("@enums/socketEvents")

/**
 * @param {import('socket.io').Namespace} io
 * @param {import('socket.io').Socket} socket
 */
module.exports = (io, socket) => {
  // do something with socket
  // do not register listener on io here
}
