const config = require("@config")
const socket = require("socket.io")
const loadFilesIn = require("./loadFilesIn")

const exportObject = {
  io: null
}

module.exports = exportObject
module.exports.init = async http => {
  const originWhiteList = Array.isArray(config.accessOrigins)
    ? config.accessOrigins
    : [config.accessOrigins]
  // @ts-ignore
  exportObject.io = await socket(http, {
    path: config.socketPath,
    // @ts-ignore
    cors: {
      origin: originWhiteList
    }
  })
  loadFilesIn(__dirname, "../sockets/", { data: [exportObject.io] })
}
