const config = require("@config")
const socket = require("socket.io")
const loadFilesIn = require("./loadFilesIn")
const { corsOptions } = require("./init/cors")

const exportObject = {
  io: null
}

module.exports = exportObject
module.exports.init = async http => {
  // @ts-ignore
  exportObject.io = await socket(http, {
    path: config.socketPath,
    // @ts-ignore
    cors: corsOptions
  })
  loadFilesIn(__dirname, "../sockets/", { data: [exportObject.io] })
}
